<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear partida</title>
    
</head>
<body>
    <div id="crearPartida">
        <h1>¡aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa!</h1>
        
        <button id="createGame">Crear</button>

        <div id="a"> </div>

    </div>
    <script type="module" src="../scripts/app.js"></script>
    <script type="module" src="../scripts/createGame.js"></script>
</body>
</html>
